@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
//detect if on splash page = Home/Index AND not logged in
var rd = ViewContext.RouteData.Values;
bool isHomeIndex = rd["controller"]?.ToString() == "Home"
&& rd["action"]?.ToString() == "Index";
bool isAnonymous = !User.Identity.IsAuthenticated;
bool isSplash = isHomeIndex && isAnonymous;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SeniorLearn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
<header>
    @if (isSplash)
    {
    @* minimal menu when on splash page *@
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SeniorLearn</a>
        </div>
    </nav>
    }
    else
    {
    @* full nav anywhere else *@
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SeniorLearn</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainNav">
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    @* Nav menu for logged in/authenticated users *@
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Lesson" asp-action="Index">Lessons</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Enrolment" asp-action="MyEnrolments">Enrolments</a>
                        </li>
                    </ul>

                    @* User menu for logged in users *@
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <form
                                class="d-inline"
                                method="post"
                                asp-controller="Member"
                                asp-action="Logout">
                                <button type="submit" class="btn btn-link nav-link">Log out</button>
                            </form>
                        </li>
                    </ul>
                    }
                else
                {
                    @* Auth buttons for non-splash pages + when not auth + only in collapsible menu *@
                    <ul class="navbar-nav ms-auto">
                        <li>
                            <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Log in</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    }
</header>

<main class="container mt-4">
    @RenderBody()
</main>

<footer class="border-top py-3 mt-4">
    <div class="container d-flex justify-content-between">
        <p>&copy; 2025 SeniorLearn</p>
        <a asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@* @RenderSection("Scripts", required: false) *@
</body>